@mixin article-style ($color, $border-color: green,$font-size:1rem,$padding:1em){
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
    padding: $padding
    
 
}


div{
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    h1{
        color: rgb(2, 181, 2);
        text-decoration: underline rgb(129, 12, 142);
        display: flex;
        justify-content: center;
    }
    section{
       
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1em;
        


        article:nth-child(odd){
            @include article-style(blue)
        }

        article:nth-child(even){
            @include article-style(red)
        }
        
       
    }
    section:last-child{
        
        article{
            @include article-style(green, $border-color:blue, $font-size:24px);
            width: 100%;
           text-align: center;

           
            
        }
     

    }

    

    

}


